In [5]:
import glob
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('kidney_disease.csv')
print(df.head())

   id   age    bp     sg   al   su     rbc        pc         pcc          ba  \
0   0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1   1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2   2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3   3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4   4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent

   ...  pcv    wc   rc  htn   dm  cad appet   pe  ane classification
0  ...   44  7800  5.2  yes  yes   no  good   no   no            ckd
1  ...   38  6000  NaN   no   no   no  good   no   no            ckd
2  ...   31  7500  NaN   no  yes   no  poor   no  yes            ckd
3  ...   32  6700  3.9  yes   no   no  poor  yes  yes            ckd
4  ...   35  7300  4.6   no   no   no  good   no   no            ckd

[5 rows x 26 columns]

In [9]:
df.shape

(400, 26)

In [12]:
columns_to_retain = ['sg','al','sc','hemo','pcv','htn','classification']
df = df.drop([col for col in df.columns if not col in columns_to_retain], axis=1)
df = df.dropna(axis=0)

In [13]:
for column in df.columns:
    if df[column].dtype == np.number:
        continue
    df[column] = LabelEncoder().fit_transform(df[column])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.

In [14]:
df.head()

      sg   al   sc  hemo  pcv  htn  classification
0  1.020  1.0  1.2  15.4   28    1               0
1  1.020  4.0  0.8  11.3   22    0               0
2  1.010  2.0  1.8   9.6   15    0               0
3  1.005  4.0  3.8  11.2   16    1               0
4  1.010  2.0  1.4  11.6   19    0               0

In [15]:
X = df.drop(['classification'],axis = 1)
Y = df['classification']

In [16]:
x_scaler = MinMaxScaler()
x_scaler.fit(X)
column_names = X.columns
X[column_names] = x_scaler.transform(X)

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, shuffle=True)

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [19]:
from sklearn.svm import SVC

In [22]:
svc_model = SVC(C= .1, kernel='linear', gamma=1)
svc_model.fit(X_train, Y_train)

SVC(C=0.1, gamma=1, kernel='linear')

In [23]:
svc_model.predict(X_test)

array([0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0])

In [26]:
svc_model.predict([[1.01, 3, 1.6, 11.4, 20, 0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

array([1])

In [27]:
print(svc_model.score(X_test, Y_test))

0.9655172413793104